{% load static %}

<div class="container-fluid" style="padding: 0px;">
        <div class="footer-1">
            <h1>Need to &nbsp;<strong> talk </strong>&nbsp; with me ?</h1>
            <input type="submit" value="CONTACT US >" class="me-contact">
        </div>
    </div>
    <div class="container-fluid" style="padding: 0px;">
        <div class="footer-2">
            <div class="row">
                <div class="col-4">
                    <h5>COMPANY INFO</h5>
                    <ul>
                        <li>Pigeon Voya</li>
                        <li>815 Capwell</li>
                        <li>okaland.CA, 85632</li>
                    </ul>
                </div>
                <div class="col-4">
                    <h5>HOURS</h5>
                    <ul>
                        <li>Monday-Friday: 9am-5pm</li>
                        <li>Saturday: 11am-5pm</li>
                        <li>Sunday: closed</li>
                    </ul>
                </div>
                <div class="col-4">
                    <h5>CONTACTS</h5>
                    <ul>
                        <li>Phone Number: 185-754-8322</li>
                        <li>Email: info@pigeonbiz.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>