{% load static %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;

  }
  .material-icons{
    color : white;
   }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <a href="{% url 'acces' %}"><img src="{% static 'images/logo-1.png' %}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if request.user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'gerer-annonce' %}">Dashboard</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logged-annonce' %}">Nouvelle Annonce</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'creer-annonce' %}">Créer annonce</a>
        </li>
      {% endif %}
    </ul>
  </div>
    {% if request.user.is_authenticated %}
  <span class="hello-msg">Bonjour, {{request.user}}</span>
  <span ><a  class="hello-msg" href="{% url 'logout-annonce' %}">Logout</a></span>
    <span class="material-icons-outlined material-icons">
        <a href="{% url 'annonce-profil' %}">
            account_circle
        </a>
    </span>
    {% else %}
            <a class="nav-link" href="{% url 'login-annonce' %}">Login</a>
    {% endif %}
</nav>