{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>Send your folder</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/vendors/liquid-icon/liquid-icon.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/theme-vendors.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/themes/creative.css' %}" />
	<style>
        h1{
            color : #fe688b;
        }
        .form-check-label{
            margin-left : 20px
        }
    </style>


        {% csrf_token %}
        {{files}}
        <div class="container contenue">
            <div class="row ">
                <form enctype="multipart/form-data" action="/" method="POST" class=" bg-light text-center mt-4 mb-4 rounded">

            <h1 class="mt-5 main_title">Send Your Folder</h1>
                <div class="row justify-content-center">
                    {% load crispy_forms_tags %}
                    {% for field in form %}
                        {% if field == form.heure_debut %}
                            <div class="col-5">
                                <label for="heure_debut">Heure de début - Créneau horaire des visites *</label>
                                <p><input name="heure_debut" type="time" required></p></div>
                        {% elif field == form.heure_fin %}
                            <div class="col-5">
                                <label for="heure_fin">Heure de fin - Créneau horaire des visites *</label>
                                <p><input name="heure_fin" type="time" required></p></div>
                        {% elif field == form.address or field == form.user%}
                            <div></div>
                        {% elif field == form.motifDemenag %}
                            <div class="col-8">{{ field|as_crispy_field }}</div>
                        {% elif field == form.precisRecherche %}
                            <div class="col-8">{{ field|as_crispy_field }}</div>
                        {% else %}
                            <div class="col-5">{{ field|as_crispy_field }}</div>
                        {% endif %}
                    {% endfor %}
                    <div class="panel panel-primary col-8 mb-4">
                <div class="panel-heading">
                  <h4 class="panel-title">Ajoutez votre adresse</h4>
                </div>
                <div class="panel-body" >
                  <input id="autocomplete" required placeholder="Entrez votre adresse" type="text" class="form-control">
                  <div id="address">
                    <div class="row">
                      <div class="col-md-6">
                        <label class="control-label">Rue</label>
                        <input class="form-control" id="street_number" name="rue" disabled="true">
                      </div>
                      <div class="col-md-6">
                        <label class="control-label">Voie</label>
                        <input class="form-control" id="route" name="voie" disabled="true">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label class="control-label">Ville</label>
                        <input class="form-control field" id="locality" disabled="true" name="ville">
                      </div>
                      <div class="col-md-6">
                        <label class="control-label">Region</label>
                        <input class="form-control" id="administrative_area_level_1" disabled="true" name="region">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label class="control-label">Code Postal</label>
                        <input class="form-control" id="postal_code" disabled="true" name="zip">
                      </div>
                      <div class="col-md-6">
                        <label class="control-label">Pays</label>
                        <input class="form-control" id="country" disabled="true" name="pays">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                    <div class="col-md-8">
                        <label>Mail de redirection (optionnel)</label>
                        <input class="form-control"  type="text" placeholder="Entrez un mail de redirection" name="redirect_adress">
                    </div>
                </div>

                <input type="submit" name="Envoyer" class="btn pt-2 pb-2 pl-5 pr-5 mt-3 mb-3 rounded text-white btn-primary border-light">
            </div>

        </div>

    </form>
</body>
        {% load static %}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1lHVWM1UP-2-F2RPwgBCcRKjYjXAqm5A&libraries=places&callback=initAutocomplete" async defer></script>
    <script src="{% static 'js/autocomplete.js' %}"></script>
</html>


