{% extends 'main.html' %}

{% block contenu %}

    {% load static %}

    <div class="container-fluid titre_p">
        <h1>Notre planete nous appartient</h1>
    </div>

        <div class="container-lg">
        <div class="row bonne">
            <div class="col-sm-4 fond">
                <img src="{% static 'bg/trier.png' %}" alt="logo" class="image">
                <h1>Planete ipsum dolor sit.</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum voluptatum enim deleniti voluptas dolore perferendis inventore esse obcaecati, rerum eum sint velit aliquam mollitia itaque voluptatem quidem dignissimos sunt fugiat vel ut tenetur. Dolorum dolore, corporis saepe ullam rem expedita!</p>
            </div>
            <div class="col-sm-4 fond">
                <img src="{% static 'bg/jeter.png' %}" alt="logo" class="image">
                <h1>Lorem ipsum dolor sit.</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum voluptatum enim deleniti voluptas dolore perferendis inventore esse obcaecati, rerum eum sint velit aliquam mollitia itaque voluptatem quidem dignissimos sunt fugiat vel ut tenetur. Dolorum dolore, corporis saepe ullam rem expedita!</p>
            </div>
            <div class="col-sm-4 fond">
                <img src="{% static 'bg/eco.png' %}" alt="logo" class="image">
                <h1>Lorem ipsum dolor sit.</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum voluptatum enim deleniti voluptas dolore perferendis inventore esse obcaecati, rerum eum sint velit aliquam mollitia itaque voluptatem quidem dignissimos sunt fugiat vel ut tenetur. Dolorum dolore, corporis saepe ullam rem expedita!</p>
            </div>
        </div>
    </div>


    <div class="container-lg">
        <div class="row">
            <div class="col suite">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem commodi odit nulla magni repellat ipsa ullam, alias explicabo adipisci.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem commodi odit nulla magni repellat ipsa ullam, alias explicabo adipisci.</p>
            </div>
            <div class="col suite">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem commodi odit nulla magni repellat ipsa ullam, alias explicabo adipisci.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem commodi odit nulla magni repellat ipsa ullam, alias explicabo adipisci.</p>
            </div>
        </div>
    </div>

    <div class="container-lg">
        <div class="row">
            <div class="col suite">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem commodi odit nulla magni repellat ipsa ullam, alias explicabo adipisci.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem commodi odit nulla magni repellat ipsa ullam, alias explicabo adipisci.</p>
            </div>
            <div class="col suite">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem commodi odit nulla magni repellat ipsa ullam, alias explicabo adipisci.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem commodi odit nulla magni repellat ipsa ullam, alias explicabo adipisci.</p>
            </div>
        </div>
    </div>

    <div class="container-lg">
        <div class="row">
            <div class="col suite">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem commodi odit nulla magni repellat ipsa ullam, alias explicabo adipisci.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem commodi odit nulla magni repellat ipsa ullam, alias explicabo adipisci.</p>
            </div>
            <div class="col suite">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem commodi odit nulla magni repellat ipsa ullam, alias explicabo adipisci.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem commodi odit nulla magni repellat ipsa ullam, alias explicabo adipisci.</p>
            </div>
        </div>
    </div>                                            {% endblock %}