{% extends 'main.html' %}

{% block contenu %}

    {% load static %}

    <style>
    .titre_pigeon{
        font-family: 'Oswald', sans-serif;
        letter-spacing: 2px;
        font-weight: 900;
        font-size: 5em !important;
        margin: 50px 50px 60px 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--main-bg-color);
    }
    .trait2{
        border-bottom: 2px solid rgba(149, 149, 149, 0.452);
    }
    .deux_pigeons{
        margin: 60px 0px 30px 0px;
        height: 130px;
        width: 400px;
    }
    .paragraphe_pigeons{
        font-size: 0.2em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
    }
    .filtrer h4{
        margin: 60px 0px 0px 70px;
        font-family: 'Oswald', sans-serif;
        margin-bottom: 30px;
    }
    .checkbox{
        margin-left: 10px;
    }
    .filtrer1 h6{
        margin: 12px;
        margin-left: 70px;
    }
    .recherche{
        margin-top: 95px;
        margin-left: 195px;
        width: 70%;
        outline: none;
        border: 1px solid var(--main-bg-color);
    }
    .partie1 img{
        height: 200px;
        width: 250px;
        margin: 30px 0px 0px 28px;
    }
    .partie2 h5{
        margin: 20px 0px 0px 78px;
        font-weight: 500;
    }
    .partie3 h5{
        margin: 20px 0px 0px 115px;
        color: rgb(255, 0, 0);
    }
    .principal{
        margin-left: 70px;
        margin-top: 50px;
        display: block;
        place-content: center;
    }
    .hey{
        border: 3px solid rgba(255, 166, 0, 0);
        padding-bottom: 20px;
    }
    .hey:hover{
        border: 3px solid var(--main-bg-color);
        cursor: pointer;
    }
    .hey:hover .cacher{
        display: block;
    }
    .hey:hover img{
        filter: opacity(0.50);
    }
    .description{
        position: absolute;
        color: white;
        background-color: var(--main-bg-color);
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        margin: 0px 0px 0px 68px;
        transform: translateY(-200%);
    }
    .cacher{
        display: none;
        z-index: 99999;
        filter: brightness(1.3);
    }

    .partie_3{
        background-color: rgba(255, 0, 0, 0.219);
        height: 40vh;
        margin: 20px;
    }
    
    </style>

    <div class="container-fluid trait2">
        <div class="row titre_pigeon">
            <div class="col-3">
                <h2>NOS PIGEONS</h2> 
            </div>
            <div class="col">
                <p class="paragraphe_pigeons">Lorsqu’on observe un pigeon ramier ou un pigeon colombin dans la nature, on est loin d’imaginer toutes les autres espèces qui existent dans un élevage de pigeons comme le nôtre ! En effet à la Ferme de Beaumont les pigeons ont des formes et des couleurs très variées : Simple comme le bleu de Gascogne, imposant et long comme le pigeon cauchois, gracieux comme le pigeon paon, énorme comme le pigeon mondain, tout en rondeur comme le pigeon King ou étrange comme le pigeon capucin !</p>
            </div>
        </div>
    </div>
    <div class="container-xxl">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <img src="{% static 'bg/14.png' %}" alt="image de pigeon" class="deux_pigeons">
                </div>
                <div class="row filtrer">
                    <h4>Filtrer :</h4>
                </div>
                <div class="row filtrer1">
                    <h6>Prix : par ordre croissants<input type="checkbox" class="checkbox"></h6>
                </div>
                <div class="row filtrer1">
                    <h6>Prix : par ordre décroissant<input type="checkbox" class="checkbox"></h6>
                </div>
                <div class="row filtrer1">
                    <h6>Dernière nouveautés<input type="checkbox" class="checkbox"></h6>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <input type="search" class="recherche" placeholder="Rechercher un pigeon ..">
                </div>
                
                <div class="container-fluid principal">
                    <div class="row">
                        {% for NewPigeon in pigeon %}
                        <div class="col-md-4 hey">
                            <div class="row partie1">
                                <img src="{% static NewPigeon.img_pigeon.url %}" alt="">
                                <div class="cacher">
                                    <h6 class="description">FICHE DÉTAILLÉE</h6>
                                </div>
                            </div>
                            <div class="row partie2">
                                <h5>{{ NewPigeon.nom_pigeon }}</h5>
                            </div>
                            <div class="row partie3">
                                <h5>{{ NewPigeon.prix_pigeon}}0€</h5>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- <div class="container-fluid">
                    <div class="row">
                        {% for NewPigeon in pigeon %}
                        <div class="col-md partie_3">
                            <div class="row">
                                <images src="{% static NewPigeon.img_pigeon.url %}" alt="">
                                <div class="cacher">
                                    <h6 class="description">FICHE DÉTAILLÉE</h6>
                                </div>
                            </div>
                            <div class="row">
                                <h5>{{ NewPigeon.nom_pigeon }}</h5>
                            </div>
                            <div class="row">
                                <h5>{{ NewPigeon.prix_pigeon }}0€</h5>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    {% endblock %}

